# ignore binary packages and files
**/*.rpm
**/*.zip
**/*.tar.gz
**/*.tgz

# ignore build artifacts
scripts/oudbase_install.sh
scripts/oudbase_install.tgz
scripts/tvdldap_install.tgz
scripts/gh-md-toc
scripts/passwords.txt

# ignore deprecated build directory
build/

# ignore deprecated local directory
local/

# ignore deprecated tests directory
tests/

# ignore empty on-demand directories
admin/
backup/
instances/
images/

# ignore mac OS resource forks
**/*.DS_Store

.idea/

# ignore oracle lib's
src/lib/eusm.jar
src/lib/ldapjclnt19.jar

# Eclipse stuff
/.pydevproject
/.project
/.vscode
/Build tar and shell.launch
/org.python.pydev.PyDevBuilder.launch
/.externalToolBuilders/
doc/oudbase.code-workspace
src/log/oud_export.log

# Test work directory
test/work/
