# ignore binary packages and files
**/*.rpm
**/*.jar
**/*.zip
**/*.tar.gz
**/*.tgz

# ignore build stuff
build/oudbase_install.sh
build/oudbase_install.tgz
build/gh-md-toc

# ignore mac OS resource forks
**/*.DS_Store

.idea/

# Eclipse stuff
/.pydevproject
/.project
/Build tar and shell.launch
/org.python.pydev.PyDevBuilder.launch
/.externalToolBuilders/
