# ignore binary packages and files
**/*.rpm
**/*.zip
**/*.tar.gz
**/*.tgz

# ignore build stuff
build/oudbase_install.sh
build/oudbase_install.tgz
build/gh-md-toc

# ignore mac OS resource forks
**/*.DS_Store

.idea/

# ignore oracle lib's
local/oudbase/lib/eusm.jar
local/oudbase/lib/ldapjclnt19.jar

# Eclipse stuff
/.pydevproject
/.project
/.vscode
/Build tar and shell.launch
/org.python.pydev.PyDevBuilder.launch
/.externalToolBuilders/
