# -----------------------------------------------------------------------
# Trivadis AG, Infrastructure Managed Services
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# -----------------------------------------------------------------------
# File-Name..: oud_instance.service
# Author.....: Stefan Oehrli, stefan.oehrli at trivadis.com
# Date.......: 2017.09.07.  
# Revision...: 1.0
# Purpose....: Unit file for ODSM domain
# Usage......: systemctl enable wls_odsm.service
# Notes......: 
# Reference..:
#           This is a template file for a systemd service for Oracle Unified 
#           Directory instance. Adjust user, group, service name 
#           directory path before using it.
#
#           Install the script:
#           sudo cp oud_instance.service /usr/lib/systemd/system/
#
#           Enable the service:
#           sudo systemctl enable oud_instance.service
#
#           Disable and deactivate the service:
#           sudo systemctl disable oud_instance.service
#
#           Start the service manual:
#           sudo systemctl start oud_instance.service
#
#           Stop the service manual:
#           sudo systemctl stop oud_instance.service
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: GPL-3.0+
# ---------------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes/updates
# ---------------------------------------------------------------------------

[Unit]
Description=OUD Instance
Wants=network.target
After=network.target
 
[Service]
Type=simple
User=oud
Group=oud
Environment=OPENDS_JAVA_HOME="/usr/java/jdk1.8.0_144/"
ExecStart=/u01/instances/oud_cdse/OUD/bin/start-ds --quiet
ExecStop=/u01/instances/oud_cdse/OUD/bin/stop-ds --quiet
ExecReload=/u01/instances/oud_cdse/OUD/bin/stop-ds --restart --quiet
TimeoutSec=300
StandardOutput=syslog+console
StandardError=syslog+console

 
[Install]
WantedBy=multi-user.target