# ------------------------------------------------------------------------------
# Trivadis - Part of Accenture, Platform Factory - Transactional Data Platform
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# ------------------------------------------------------------------------------
# File-Name..: oud_instance.service
# Author.....: Stefan Oehrli, stefan.oehrli at trivadis.com
# Date.......: 2022.08.17
# Version....: v2.4.0
# Purpose....: Unit file for OUD Instance
# Usage......: systemctl enable oud.service
# Notes......: 
# Reference..:
#           This is a template file for a systemd service for Oracle Unified 
#           Directory instance. Adjust user, group, service name 
#           directory path before using it.
#
#           Install the script:
#           sudo cp oud_OUD_INSTANCE.service /usr/lib/systemd/system/
#
#           Enable the service:
#           sudo systemctl enable oud_OUD_INSTANCE.service
#
#           Disable and deactivate the service:
#           sudo systemctl disable oud_OUD_INSTANCE.service
#
#           Start the service manual:
#           sudo systemctl start oud_OUD_INSTANCE.service
#
#           Stop the service manual:
#           sudo systemctl stop oud_OUD_INSTANCE.service
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: Apache License Version 2.0, January 2004 as shown
#              at http://www.apache.org/licenses/
# ------------------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes
# ------------------------------------------------------------------------------

[Unit]
Description=OUD Instance
Wants=network.target
After=network.target
 
[Service]
Type=forking
User=oud
Group=oud
WorkingDirectory=OUD_INSTANCE_HOME/OUD
PIDFile=OUD_INSTANCE_HOME/OUD/logs/server.pid
ExecStart=OUD_INSTANCE_HOME/OUD/bin/start-ds --quiet
ExecStop=OUD_INSTANCE_HOME/OUD/bin/stop-ds --quiet
ExecReload=OUD_INSTANCE_HOME/OUD/bin/stop-ds --restart --quiet
RestartSec=42s
Restart=on-failure
SuccessExitStatus=143 SIGTERM
TimeoutSec=300
StandardOutput=syslog+console
StandardError=syslog+console

 
[Install]
WantedBy=multi-user.target
# - EOF ------------------------------------------------------------------------